@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #78c1f3;
   height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

#upload {
  width: 100%;
  text-align-last: center;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
}

.controls .subControl {
  padding: 1rem;
  width: 100%;
  display: grid;
  align-self: flex-start;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
